#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

 **Objectives:**

- List popular languages for Data Science
- Explore commonly used libraries in Data Science
- Understand the role of development environment tools in Data Science
- Evaluate arithmetic expressions in Python
- Convert minutes to hours

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib

In [7]:
Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib

SyntaxError: invalid syntax (3761864333.py, line 1)

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib

## Data Science Tools

| Data Science Tools    |
|-----------------------|
| Jupyter Notebook      |
| RStudio               |
| Spyder                |

###Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [11]:
x=input("Enter number in min")

Enter number in min 200

In [12]:
y=x/60  #This will convert 200 minutes to hours by diving by 60

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [16]:
x=input("Enter number in min")
z=60
y=x / z     #This will convert 200 minutes to hours by diving by 60

Enter number in min 200

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [21]:
mintues = 200
hours = mintues / 60  #this will convert 200 minutes to hours by diving by 60
print(hours)

3.3333333333333335

##Author

Rohan Siddharth